<%- include('parts/header' ,{pageTitle:pageTitle}) %>
<%- include('parts/navbar', { isUser: isUser ,isAdmin:isAdmin }) %>

<div class="container">
    <p class="alert alert-danger">you aren't admin</p>
</div>

<%- include('parts/footer')%>